version: "3.8"
services:
  mongodb:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://mongodb:27017/tutorials_db
      - NODE_ENV=production
    depends_on:
      - mongodb
    ports:
      - "3000:3000"
    restart: unless-stopped

  frontend:
    build: ./frontend
    depends_on:
      - backend
    ports:
      - "8081:80"
    restart: unless-stopped

volumes:
  mongo_data:
